manifest {
    name = 'quinlan-lab/tapestry'
    version = '0.1.0-dev'
    author = 'Quinlan Lab'
    description = 'Founder-phased PacBio HiFi methylation from family-WDL outputs'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04.2'
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    maxRetries = 1

    withLabel: all_cpg {
        cpus = 4
        memory = '8 GB'
        time = '8h'
    }
}

timeline {
    enabled = true
    file = '.nextflow-reports/timeline.html'
    overwrite = true
}

report {
    enabled = true
    file = '.nextflow-reports/report.html'
    overwrite = true
}

trace {
    enabled = true
    file = '.nextflow-reports/trace.tsv'
    overwrite = true
}

dag {
    enabled = true
    file = '.nextflow-reports/dag.html'
    overwrite = true
}

profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
        process.container = params.container ?: 'ghcr.io/quinlan-lab/tapestry:dev'
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        process.container = params.container ?: 'docker://ghcr.io/quinlan-lab/tapestry:dev'
    }

    slurm {
        process {
            executor = 'slurm'
            cpus = 1
            memory = '4 GB'
            time = '2h'
            withLabel: all_cpg {
                cpus = 4
                memory = '48 GB'
                time = '24h'
            }
        }
    }
}
